## Anime Dataset Pre-processing

**MyAnimeList Dataset:** https://www.kaggle.com/datasets/azathoth42/myanimelist?datasetId=28524&sortBy=voteCount

The dataset contains many csv files, however we will be working to transform below dataset for our use case:   
1. anime_cleaned
2. users_cleaned
3. animelists_cleaned

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)

### Anime_cleaned  
We will be working on `anime_cleaned.csv` dataset to extract genre categories and one hot encode them. We save updated file to `updated_anime_cleaned`.

In [4]:
# Reading the anime_cleaned dataset
df = pd.read_csv("./data/anime_cleaned.csv")
df.head()

,anime_id,title,title_english,title_japanese,title_synonyms,image_url,type,source,episodes,status,...,broadcast,related,producer,licensor,studio,genre,opening_theme,ending_theme,duration_min,aired_from_year
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,12,Finished Airing,...,Fridays at Unknown,"{'Adaptation': [{'mal_id': 17207, 'type': 'man...","Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen","['""Nirvana"" by MUCC']","['#1: ""Nirvana"" by MUCC (eps 1, 11-12)', '#2: ...",24.0,2012.0
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,26,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 759, 'type': 'manga...","TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen","['""Romantic summer"" by SUN&LUNAR']","['#1: ""Ashita e no Hikari (明日への光)"" by Asuka Hi...",24.0,2007.0
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,51,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 101, 'type': 'manga...","TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo","['#1: ""Minna no Tamago (みんなのたまご)"" by Shugo Cha...","['#1: ""Rottara Rottara (ロッタラ ロッタラ)"" by Buono! ...",24.0,2008.0
3,721,Princess Tutu,Princess Tutu,プリンセスチュチュ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,TV,Original,38,Finished Airing,...,Fridays at Unknown,"{'Adaptation': [{'mal_id': 1581, 'type': 'mang...","Memory-Tech, GANSIS, Marvelous AQL",ADV Films,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy","['""Morning Grace"" by Ritsuko Okazaki']","['""Watashi No Ai Wa Chiisaikeredo"" by Ritsuko ...",16.0,2002.0
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,25,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 9711, 'type': 'mang...","NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen","['#1: ""Moshimo no Hanashi (もしもの話)"" by nano.RIP...","['#1: ""Pride on Everyday"" by Sphere (eps 1-13)...",24.0,2012.0

In [5]:
print(df.shape)

(6668, 33)

In [6]:
print(df.columns) # Columns in existing dataset

Index(['anime_id', 'title', 'title_english', 'title_japanese',
       'title_synonyms', 'image_url', 'type', 'source', 'episodes', 'status',
       'airing', 'aired_string', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'background',
       'premiered', 'broadcast', 'related', 'producer', 'licensor', 'studio',
       'genre', 'opening_theme', 'ending_theme', 'duration_min',
       'aired_from_year'],
      dtype='object')

In [8]:
# # One hot encoding the genre categories
# Split the 'genre' column and find all unique genres
all_genres = set()
df['genre'].dropna().str.split(', ').apply(all_genres.update)
all_genres = sorted(all_genres)

# Create new columns for each genre and encode presence as 0 or 1
for genre in all_genres:
    df[genre] = df['genre'].apply(lambda x: 1 if genre in str(x).split(', ') else 0)

# Select the specified columns along with the new genre columns
columns_to_keep = ['anime_id', 'title', 'image_url', 'genre', 'aired_from_year'] + all_genres
final_df = df[columns_to_keep]

# Save the new DataFrame to a new CSV file
final_df.to_csv('./data/updated_anime_cleaned.csv', index=False)

In [9]:
final_df = final_df.dropna()

In [10]:
final_df.shape

(6662, 48)

In [11]:
final_df.columns

Index(['anime_id', 'title', 'image_url', 'genre', 'aired_from_year', 'Action',
       'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi',
       'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror', 'Josei',
       'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music',
       'Mystery', 'Parody', 'Police', 'Psychological', 'Romance', 'Samurai',
       'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'Shoujo Ai', 'Shounen',
       'Shounen Ai', 'Slice of Life', 'Space', 'Sports', 'Super Power',
       'Supernatural', 'Thriller', 'Vampire', 'Yaoi', 'Yuri'],
      dtype='object')

In [17]:
final_df.head()

,anime_id,title,image_url,genre,aired_from_year,Action,Adventure,Cars,Comedy,Dementia,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,11013,Inu x Boku SS,https://myanimelist.cdn-dena.com/images/anime/...,"Comedy, Supernatural, Romance, Shounen",2012.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,2104,Seto no Hanayome,https://myanimelist.cdn-dena.com/images/anime/...,"Comedy, Parody, Romance, School, Shounen",2007.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,5262,Shugo Chara!! Doki,https://myanimelist.cdn-dena.com/images/anime/...,"Comedy, Magic, School, Shoujo",2008.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,721,Princess Tutu,https://myanimelist.cdn-dena.com/images/anime/...,"Comedy, Drama, Magic, Romance, Fantasy",2002.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,12365,Bakuman. 3rd Season,https://myanimelist.cdn-dena.com/images/anime/...,"Comedy, Drama, Romance, Shounen",2012.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### users_cleaned  

We will be working on `users_cleaned.csv` dataset to collect relevant user details and estimate age from date of birth. We save updated file to `updated_users_cleaned.csv`.

In [12]:
df_users = pd.read_csv("./data/users_cleaned.csv")
df_users.head()

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes
0,karthiga,2255153,3,49,1,0,0,55.09,Female,"Chennai, India",1990-04-29 00:00:00,NaN,2013-03-03 00:00:00,2014-02-04 01:32:00,7.43,0.0,3391
1,Damonashu,37326,45,195,27,25,59,82.57,Male,"Detroit,Michigan",1991-08-01 00:00:00,NaN,2008-02-13 00:00:00,2017-07-10 06:52:54,6.15,6.0,4903
2,bskai,228342,25,414,2,5,11,159.48,Male,"Nayarit, Mexico",1990-12-14 00:00:00,NaN,2009-08-31 00:00:00,2014-05-12 16:35:00,8.27,1.0,9701
3,terune_uzumaki,327311,5,5,0,0,0,11.39,Female,"Malaysia, Kuantan",1998-08-24 00:00:00,NaN,2010-05-10 00:00:00,2012-10-18 19:06:00,9.70,6.0,697
4,Bas_G,5015094,35,114,6,20,175,30.46,Male,"Nijmegen, Nederland",1999-10-24 00:00:00,NaN,2015-11-26 00:00:00,2018-05-10 20:53:37,7.86,0.0,1847

In [13]:
import pandas as pd
from datetime import datetime

# Load your CSV file
df_users = pd.read_csv('./data/users_cleaned.csv')  # Replace with your actual file path

# Convert 'birth_date' to datetime
df_users['birth_date'] = pd.to_datetime(df_users['birth_date'])

# Calculate age
current_date = datetime.now()

df_users['age'] = current_date.year - df_users['birth_date'].dt.year
# Adjust for birthdays that haven't occurred yet this year
df_users['age'] -= ((current_date.month < df_users['birth_date'].dt.month) | 
              ((current_date.month == df_users['birth_date'].dt.month) & 
               (current_date.day < df_users['birth_date'].dt.day))).astype(int)

# Select the specified columns
columns_to_keep = ['username', 'user_id', 'gender', 'location', 'age']
df_users = df_users[columns_to_keep]

# Output the DataFrame to a new CSV file
df_users.dropna().to_csv('./data/updated_users_cleaned.csv', index=False)

In [14]:
print(df_users.shape)
print(df_users.dropna().shape)

(108711, 5)
(108705, 5)

In [16]:
df_users.head()

         username  user_id  gender             location  age
0        karthiga  2255153  Female      Chennai, India    33
1       Damonashu    37326    Male     Detroit,Michigan   32
2           bskai   228342    Male      Nayarit, Mexico   33
3  terune_uzumaki   327311  Female    Malaysia, Kuantan   25
4           Bas_G  5015094    Male  Nijmegen, Nederland   24

### animelists_cleaned  

We will be working on `animelists_cleaned.csv` dataset to extract username, anime_id, my_score. We save updated file to `updated_animelists_cleaned.csv`.

In [15]:
df_animelist = pd.read_csv('./data/animelists_cleaned.csv')

In [18]:
df_animelist.shape

(31284030, 11)

In [19]:
df_animelist.columns

Index(['username', 'anime_id', 'my_watched_episodes', 'my_start_date',
       'my_finish_date', 'my_score', 'my_status', 'my_rewatching',
       'my_rewatching_ep', 'my_last_updated', 'my_tags'],
      dtype='object')

In [20]:
columns_to_keep = ['username', 'anime_id', 'my_score']

In [21]:
df_animelist = df_animelist[columns_to_keep]

In [22]:
df_animelist

                  username  anime_id  my_score
0                 karthiga        21         9
1                 karthiga        59         7
2                 karthiga        74         7
3                 karthiga       120         7
4                 karthiga       178         7
...                    ...       ...       ...
31284025     Yokonightcore     15611         9
31284026     Yokonightcore     27815         9
31284027            wargod      5945         8
31284028  JMc_SetoKai_LoVe      1316         9
31284029    hinogurl_mikha      1744        10

[31284030 rows x 3 columns]

In [26]:
# Read the CSV files
users_df = df_users
animelists_df = df_animelist

merged_df = pd.merge(animelists_df, users_df, on='username', how='left')

# Select only the required columns
updated_ratings_df = merged_df[['user_id', 'anime_id', 'my_score']]

# Save the result to a new CSV file
updated_ratings_df.to_csv('./data/updated_ratings_cleaned.csv', index=False)

In [27]:
updated_ratings_df.head()

   user_id  anime_id  my_score
0  2255153        21         9
1  2255153        59         7
2  2255153        74         7
3  2255153       120         7
4  2255153       178         7